main {
  background-color: #FFF;
}

.main__container {
  margin: 0 auto;
  max-width: 1920px;
  min-height: 500px;
  background-color: #202020;
  align-items: center;
}

/* Секция фотографии */
.photo {
  margin-bottom: 68px;
}

.photo__article {
  flex: 1;
  background-image: url(/img/master-class.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.photo__article-tag {
  position: relative;
  top: 15px;
  left: 492px;
  background-color: #202020;
  padding: 7px 15px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  max-width: 123px;
}

.photo__article-wrapper {
  position: relative;
  left: 59px;
  top: 378px;
}

.photo__article-descr {
  margin: 0;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 3px;
}

.photo__article-title {
  margin: 0;
  color: #FFF;
  font-family: TT Firs Neue;
  font-size: 36px;
  font-weight: 700;
  line-height: 104%;
  max-width: 427px;
  margin-bottom: 19px;
}

.article-btn {
  color: #FFF;
  background-color: #FF6E30;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding: 15px 22px;
}

.orange-btn:focus-visible {
  outline: none;
  background-color: #FF6E30;
  border: 3px solid #CE4307;
}

.orange-btn:hover {
  background-color: #BC572B;
  border: none;
}

.orange-btn:active {
  background-color: #CE4307;
  border: none;
}

.photo__title {
  margin: 0;
  margin-bottom: 18px;
  color: #202020;
  font-family: TT Firs Neue;
  font-size: 24px;
  font-weight: 700;
  line-height: 104%;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  position: relative;
}

.photo__list {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 298px 257px;
  grid-gap: 30px;
}

.photo__item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.photo__item:first-child {
  grid-column: 1/3;
}

.photo__item1 {
  background-image: url(/img/item1.jpg);
}

.photo__item2 {
  background-image: url(/img/item2.jpg);
}

.photo__item3 {
  background-image: url(/img/item3.jpg);
}

/* О студии */
.about {
  padding-top: 63px;
  margin-bottom: 68px;
}

.about__text {
  position: relative;
  top: -25px;
}

.about__title {
  margin: 0;
  color: #FFF;
  font-family: TT Firs Neue;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.about__descr {
  color: #CACACA;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.about__list {
  margin: 0;
  display: grid;
  grid-template-columns: 474px 126px;
  grid-template-rows: 255px 50px;
  grid-gap: 30px;
}

.about__item1 {
  background-image: url(/img/about_us_photo.jpg);
}

.about__item:first-child {
  grid-column: 1/3;
}

.subscribe {
  margin-bottom: 16px;
  color: #FFF;
  font-family: TT Firs Neue;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
}

.form-input {
  background-color: #4A4A4A;
  padding: 15px 23px;
}

.subscribe-mail {
  background-color: #4A4A4A;
  padding: 15px 23px;
  color: #CACACA;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  width: 474px;
  border: none;
}

.subscribe-mail:hover::-moz-placeholder {
  color: #FF6E30;
}

.subscribe-mail:hover::placeholder {
  color: #FF6E30;
}

.subscribe-mail:focus:not(:hover) {
  outline: 0;
  border: 1px solid #FF6E30;
}

.subscribe-mail:active {
  background-color: #4A4A4A;
}

.subscribe-mail:active::-moz-placeholder {
  outline: 0;
  color: #FFFFFF;
}

.subscribe-mail:active::placeholder {
  outline: 0;
  color: #FFFFFF;
}

.form-name, .form-mail {
  outline: none;
}

.item {
  min-height: 300px;
}

/* Наши проекты */
.projects {
  margin-bottom: 68px;
}

.project-title {
  color: #202020;
  font-family: TT Firs Neue;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1.27fr) 2fr 2fr;
  gap: 30px;
}

.item:nth-child(4) {
  grid-column: 4/6;
}

.item:nth-child(5) {
  grid-column: 1/4;
}

.about__btn {
  margin-top: 40px;
  outline: none;
  font-family: Roboto;
  padding: 15px 22px;
  font-weight: 700;
  font-size: 16px;
  color: #FFF;
  background-color: #FF6E30;
  text-align: center;
}

.project-img {
  background-size: 190px 184px;
  background-repeat: no-repeat;
  background-position: top;
}

.project1-img {
  background-image: url(/img/gory_i_sonce.png);
}

.project2-img {
  background-image: url(/img/man_z_borodoy.png);
}

.project3-img {
  background-image: url(/img/chainiki.png);
}

.project-tag {
  position: relative;
  top: 7px;
  left: 94px;
  background-color: #202020;
  padding: 6px 14px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  max-width: 89px;
}

.project-text {
  margin: 0;
  padding: 0;
  position: relative;
  top: 178px;
  color: #202020;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 13px;
}

.project-text1024 {
  visibility: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  top: 98px;
  color: #202020;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 17px;
}

.project1__date {
  color: #999;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
  top: 115px;
}

.project2__date {
  color: #999;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
  top: 115px;
}

.project3__date {
  color: #999;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
  top: 28px;
}

.project4__date {
  color: #FFF;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
  bottom: 10px;
  margin-bottom: 2px;
}

.project4-img {
  flex: 1;
  background-image: url(/img/girl.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.project4__tag {
  position: relative;
  top: 7px;
  left: 567px;
  background-color: #202020;
  padding: 6px 14px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  max-width: 56px;
}

.project-wrapper {
  position: relative;
  left: 30px;
  max-width: 292px;
}

.project4__title {
  color: #FFF;
  font-family: TT Firs Neue;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 6px;
}

.project4__descr {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 54px;
}

.project-btn {
  padding: 15px 22px;
  border: 3px solid #FF6E30;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

.project-btn:focus-visible {
  outline: none;
  border: 3px solid #FF6E30;
  background-color: #BC572B;
}

.project-btn:hover {
  background-color: #FF6E30;
  border: none;
}

.project-btn:active {
  background-color: #CE4307;
  border: none;
}

.project5-img {
  flex: 1;
  background-image: url(/img/zabvenie.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.project5__tag {
  position: relative;
  top: 13px;
  left: 479px;
  background-color: #202020;
  padding: 6px 14px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  max-width: 144px;
}

.project5__date {
  color: #FFF;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
  bottom: 10px;
  margin-bottom: 2px;
}

.project5__title {
  color: #FFF;
  font-family: TT Firs Neue;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 6px;
}

.project5__descr {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 100px;
}

.project6-img {
  flex: 1;
  background-image: url(/img/project6.png);
  background-size: 300px 184px;
  background-repeat: no-repeat;
  background-position: top;
}

.project6__tag {
  position: relative;
  top: 7px;
  left: 208px;
  background-color: #202020;
  padding: 6px 14px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  max-width: 85px;
}

.project6__date {
  color: #999;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
  top: 97px;
}

.project7-img {
  flex: 1;
  background-image: url(/img/project7.png);
  background-size: 300px 184px;
  background-repeat: no-repeat;
  background-position: top;
}

.project7__tag {
  position: relative;
  top: 7px;
  left: 204px;
  background-color: #202020;
  padding: 6px 14px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  max-width: 89px;
}

.project7__date {
  color: #999;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
  top: 97px;
}

/* Контакты */
.contacts-box {
  margin-bottom: 69px;
}

.grid3 {
  display: grid;
  grid-template-columns: 2.07fr 1fr;
  grid-gap: 30px;
  position: relative;
}

.close {
  position: relative;
  top: -135px;
  left: 320px;
}

.contacts__item1 {
  position: relative;
  background-image: url(/img/bigmap.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 850px;
}

.contacts__item2 {
  max-width: 410px;
}

.contacts__cts {
  max-width: 410px;
  background-color: rgba(32, 32, 32, 0.85);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  padding: 150px 50px 150px 60px;
}

.contacts-heading {
  color: #202020;
  font-family: TT Firs Neue;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 22px;
}

.contacts__title {
  color: #FFF;
  font-family: TT Firs Neue;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 5px;
}

.contacts__descr {
  margin: 0;
  padding: 0;
  color: #CACACA;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 3px;
}

.contacts {
  color: #FF6E30;
  font-family: TT Firs Neue;
  font-size: 16px;
  font-weight: 400;
}

.map-point {
  position: relative;
  top: -200px;
  left: 375px;
}

.contacts__form-title {
  margin: 0;
  padding: 0;
  color: #202020;
  font-family: TT Firs Neue;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 5px;
  position: relative;
  top: -10px;
}

.contacts__form-descr {
  margin: 0;
  padding: 0;
  color: #999;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 14px;
  position: relative;
  top: -10px;
}

.contacts-center {
  flex-direction: column;
  position: relative;
  top: -10px;
}

.contacts-form {
  flex-direction: column;
}

.request-input {
  margin: 0;
  border: none;
  background-color: #E9E9E9;
  color: #999999;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 21px;
  padding: 15px 23px;
  cursor: pointer;
}

.request-input:hover::-moz-placeholder {
  color: #FF6E30;
}

.request-input:hover::placeholder {
  color: #FF6E30;
}

.request-input:focus:not(:hover) {
  outline: 0;
  border: 1px solid #FF6E30;
}

.request-input:active::-moz-placeholder {
  outline: 0;
  color: #202020;
}

.request-input:active::placeholder {
  outline: 0;
  color: #202020;
}

.form-name, .form-mail {
  outline: none;
}

.contacts-btn {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 22px;
  background-color: #FF6E30;
}

.form-comment {
  outline: none;
  min-height: 150px;
}

/* footer */
.footer-container {
  background-color: #202020;
  min-height: 106px;
  margin: 0 auto;
  max-width: 1920px;
  padding-top: 24px;
}

.footer__box {
  justify-content: space-between;
}

.footer__left {
  margin-right: 171px;
  padding-top: 2px;
}

.footer__img {
  outline: 0;
  height: auto;
  width: 190px;
  min-height: 30px;
  flex-shrink: 0;
}

.footer__logo {
  align-items: center;
}

.left-descr {
  color: #E9E9E9;
  font-family: TT Firs Neue;
  font-size: 14px;
  font-weight: 400;
}

.footer__center {
  color: #CACACA;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  max-width: 361px;
  margin-right: 328px;
}

.footer__right {
  max-width: 161px;
}

.footer__right-descr {
  color: #CACACA;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 8px;
}

.footer-items {
  gap: 20px;
}

.footer-social {
  justify-content: center;
}

.footer__social-item:focus-visible {
  outline: 0;
  outline-offset: 5px;
}

.footer__social-item:focus-visible path {
  outline: 0;
  fill: #BC572B;
  transition: fill 0.3s ease-in-out;
}

.footer__social-item:hover path {
  outline: 0;
  fill: #BC572B;
  transition: fill 0.3s ease-in-out;
}

.footer__social-item:active:not(:focus-visible) path {
  fill: #CE4307;
  transition: fill 0.3s ease-in-out;
}

.footer__cont320 {
  display: none;
}

@media (max-width: 1366px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 285px 307px 307px;
  }
  .item:nth-child(1) {
    grid-column: 1/3;
  }
  .item:nth-child(2) {
    grid-column: 3/5;
  }
  .item:nth-child(3) {
    grid-column: 5/9;
  }
  .item:nth-child(4) {
    grid-column: 1/6;
  }
  .item:nth-child(5) {
    grid-column: 4/9;
  }
  .item:nth-child(6) {
    grid-column: 6/9;
  }
  .item:nth-child(7) {
    grid-column: 1/4;
  }
  .header-container {
    margin: 0 auto;
    margin-bottom: 34px;
    max-width: 1024px;
  }
  .header__img {
    margin-right: 82px;
    width: 166px;
    min-height: 27px;
  }
  .header__nav {
    margin-right: 131px;
  }
  .header__item:not(:last-child) {
    margin-right: 33px;
  }
  .container {
    max-width: 964px;
  }
  .photo {
    margin-bottom: 72px;
  }
  .photo__article {
    background-image: url(/img/master-class1024.jpg);
  }
  .photo__item1 {
    background-image: url(/img/item1_1024.jpg);
  }
  .photo__item2 {
    background-image: url(/img/item2_1024.jpg);
  }
  .photo__item3 {
    background-image: url(/img/item3_1024.jpg);
  }
  .photo__list {
    grid-template-rows: 332px 186px;
    grid-gap: 30px;
  }
  .photo__article-tag {
    position: relative;
    top: 15px;
    left: 332px;
    background-color: #202020;
    padding: 7px 15px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    max-width: 123px;
  }
  .photo__article-wrapper {
    left: 30px;
    top: 390px;
  }
  .photo__article-descr {
    margin-bottom: 9px;
  }
  .photo__article-title {
    font-size: 34px;
    line-height: 100%;
    max-width: 408px;
    margin-bottom: 22px;
  }
  .about__list {
    margin: 0;
    display: grid;
    grid-template-columns: 466px;
    grid-template-rows: 332px 50px 50px;
    grid-gap: 20px;
  }
  .about__item1 {
    background-image: url(/img/about_us_photo_1024.jpg);
  }
  .about__item:first-child {
    grid-column: 1/2;
  }
  .subscribe-mail {
    width: 342px;
    margin-bottom: 20px;
  }
  .main__container {
    max-width: 1024px;
    min-height: 658px;
  }
  .item {
    min-height: 307px;
  }
  /* projects */
  .projects {
    margin-bottom: 64px;
  }
  .project1-img {
    background-image: url(/img/gory_i_sonce_1024.png);
    background-size: 218px 184px;
  }
  .project2-img {
    background-image: url(/img/man_z_borodoy_1024.png);
    background-size: 218px 184px;
  }
  .project3-img {
    background-image: url(/img/chainiki_1024.png);
    background-size: 466px 184px;
  }
  .project-text {
    visibility: hidden;
  }
  .project-text1024 {
    visibility: visible;
  }
  .project3__text1024 {
    top: 144px;
  }
  .project-tag {
    top: 7px;
    left: 94px;
    background-color: #202020;
    max-width: 89px;
  }
  .project1__tag {
    left: 124px;
  }
  .project2__tag {
    left: 121px;
  }
  .project3__tag {
    left: 365px;
  }
  .project1__date {
    top: 103px;
  }
  .project2__date {
    top: 103px;
  }
  .project3__date {
    top: 148px;
  }
  .project4-img {
    background-image: url(/img/girl1024.jpg);
    background-size: 590px 307px;
  }
  .project4__tag {
    left: 500px;
  }
  .project4__date {
    bottom: -3px;
    margin-bottom: 2px;
  }
  .project5-img {
    background-image: url(/img/zabvenie1024.jpg);
  }
  .project5__tag {
    top: 7px;
    left: 439px;
  }
  .project6-img {
    background-image: url(/img/project6_1024.png);
    background-size: 342px 184px;
  }
  .project6__tag {
    left: 249px;
  }
  .project7-img {
    background-image: url(/img/project7_1024.png);
    background-size: 342px 184px;
  }
  .project7__tag {
    left: 246px;
  }
  /* contacts */
  .contacts-box {
    margin-bottom: 65px;
  }
  .contacts__item1 {
    background-image: url(/img/bigmap1024.jpg);
    max-width: 590px;
    grid-column: 1/6;
  }
  .contacts__item2 {
    grid-column: 6/9;
  }
  .project5 {
    order: 7;
  }
  .project6 {
    order: 5;
  }
  .project7 {
    order: 6;
  }
  .grid3 {
    grid-template-columns: repeat(8, 1fr);
  }
  .contacts__cts {
    max-width: 590px;
    max-height: 157px;
    background-position: bottom;
    padding: 25px 260px 25px 30px;
    position: relative;
    top: 307px;
  }
  .contacts__title {
    position: relative;
    bottom: 30px;
  }
  .contacts__descr {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 30px;
  }
  .contacts__phone-number {
    display: inline-block;
    position: relative;
    bottom: 58px;
    left: 150px;
  }
  .map-point {
    top: -370px;
    left: 280px;
  }
  .close {
    top: -5px;
    left: 520px;
  }
  /* footer */
  .footer-container {
    max-width: 1024px;
  }
  .footer__img {
    width: 166px;
    min-height: 27px;
  }
  .footer__left {
    margin-right: 135px;
    padding-top: 6px;
  }
  .footer__center {
    max-width: 361px;
    margin-right: 69px;
  }
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
  }
  .item:nth-child(1) {
    grid-column: 1/3;
  }
  .item:nth-child(2) {
    grid-column: 3/5;
  }
  .item:nth-child(3) {
    grid-column: 5/7;
  }
  .item:nth-child(4) {
    grid-column: 1/-1;
  }
  .item:nth-child(5) {
    grid-column: 1/-1;
  }
  .item:nth-child(6) {
    grid-column: 1/4;
  }
  .item:nth-child(7) {
    grid-column: 4/7;
  }
  .header-container {
    margin-bottom: 0;
  }
  .header__nav {
    display: none;
  }
  .header__img {
    width: 166px;
    min-height: 27px;
    margin-right: 522px;
  }
  .header768 {
    display: flex;
    background-color: #4A4A4A;
    margin: 0 auto;
    max-width: 768px;
    min-height: 45px;
    align-items: center;
    margin-bottom: 36px;
  }
  .header768__nav {
    margin: 0 auto;
    display: flex;
  }
  .nav_768 {
    display: block;
    background-color: #4A4A4A;
  }
  .header768__item:not(:last-child) {
    margin-right: 72px;
  }
  .burger {
    display: none;
  }
  .container {
    max-width: 714px;
  }
  .photo {
    margin-bottom: 72px;
  }
  .photo__article {
    background-image: url(/img/master-class768.jpg);
  }
  .photo__article-wrapper {
    left: 28px;
    top: 200px;
  }
  .photo__article-descr {
    margin-bottom: 14px;
  }
  .photo__article-title {
    font-size: 34px;
    line-height: 90%;
    max-width: 240px;
  }
  .photo__article-tag {
    left: 204px;
  }
  .photo__item1 {
    background-image: url(/img/item1_768.jpg);
  }
  .photo__item2 {
    background-image: url(/img/item2_768.jpg);
  }
  .photo__item3 {
    background-image: url(/img/item3_768.jpg);
  }
  .photo__list {
    grid-template-rows: 228px 133px;
    grid-gap: 30px;
  }
  .photo__title {
    margin: 0;
    margin-bottom: 17px;
    font-size: 22px;
  }
  .about__list {
    grid-template-columns: 342px;
    grid-template-rows: 569px 50px 50px;
    grid-gap: 20px;
  }
  .about__item1 {
    background-image: url(/img/about_us_photo_768.jpg);
  }
  .main__container {
    max-width: 768px;
    min-height: 884px;
  }
  .project1-img {
    background-image: url(/img/gory_i_sonce_768.png);
  }
  .project2-img {
    background-image: url(/img/man_z_borodoy_768.jpg);
  }
  .project3-img {
    background-image: url(/img/chainiki_768.png);
    background-size: 218px 184px;
  }
  .project-text {
    visibility: visible;
  }
  .project-text1024 {
    visibility: hidden;
  }
  .project1__date {
    top: 115px;
  }
  .project2__date {
    top: 115px;
  }
  .project3__tag {
    left: 118px;
  }
  .project3__date {
    top: 68px;
  }
  .project4-img {
    background-image: url(/img/girl768.png);
    background-size: 714px 300px;
  }
  .project4__descr {
    margin-bottom: 47px;
  }
  .project4__tag {
    left: 621px;
  }
  .project6__tag {
    left: 250px;
  }
  .project5__tag {
    top: 13px;
    left: 563px;
  }
  .grid3 {
    grid-template-columns: repeat(6, 1fr);
  }
  .contacts__item1 {
    background-image: url(/img/bigmap768.jpg);
    max-width: 714px;
    min-height: 460px;
    grid-column: 1/-1;
  }
  .contacts__item2 {
    grid-column: 1/5;
  }
  .contacts__cts {
    max-width: 714px;
    padding: 25px 248px 25px 30px;
    position: relative;
    top: 307px;
  }
  .close {
    top: -5px;
    left: 644px;
  }
  .contacts__phone-number {
    display: block;
    bottom: 32px;
    left: 0px;
  }
  .map-point {
    top: -375px;
    left: 454px;
  }
  .contacts__item2 {
    max-width: 466px;
  }
  .footer__center {
    display: none;
  }
}
@media (max-width: 576px) {
  .grid {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .header-container {
    max-width: 576px;
    min-height: 70px;
  }
  .container {
    margin: 0 auto;
    padding: 0 21px;
    max-width: 576px;
  }
  .header__img {
    width: 112px;
    min-height: 18px;
    margin-right: 146px;
  }
  .header768 {
    max-width: 576px;
    padding-left: 21px;
    padding-right: 21px;
    margin-bottom: 30px;
  }
  .burger {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 18px;
    justify-self: start;
    z-index: 110;
    cursor: pointer;
  }
  .burger--active {
    z-index: 1000;
    visibility: hidden;
  }
  .header768__list {
    visibility: hidden;
  }
  .header__form {
    width: 287px;
    right: -48px;
  }
  .search-input {
    width: 248px;
    font-size: 14px;
  }
  .header320-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -13px;
    left: -21px;
    bottom: 0;
    background-color: #202020;
    padding-left: 21px;
    padding-top: 48px;
    width: 40%;
    min-width: 320px;
    height: 541px;
    z-index: 900;
    opacity: 1;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    visibility: visible;
    overflow-y: auto;
    margin: 0;
  }
  .header320-list--active {
    visibility: visible;
    transform: none;
    opacity: 1;
  }
  .cls-btn {
    position: relative;
    top: -20px;
  }
  .tel-320 {
    position: relative;
    bottom: -160px;
  }
  .header320-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .photo__article {
    grid-column: 1/3;
    background-image: url(/img/master-class320.jpg);
    background-size: 278px;
    min-height: 422px;
  }
  .photo__article-wrapper {
    left: 29px;
    top: 210px;
  }
  .photo__article-tag {
    left: 177px;
    top: 6px;
    padding: 4px 7px;
    font-size: 12px;
    max-width: 95px;
  }
  .photo__article-descr {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .photo__article-title {
    font-size: 24px;
    line-height: 110%;
    max-width: 169px;
    margin-bottom: 14px;
  }
  .article-btn {
    font-size: 14px;
    padding: 13px 22px;
  }
  .photo__section {
    display: grid;
    grid-column: 1/3;
    justify-content: center;
  }
  .photo__title {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .photo__list {
    grid-column: 1/3;
    grid-template-rows: 186px 105px;
    max-width: 278px;
  }
  .photo__item1 {
    background-image: url(/img/item1_320.jpg);
    background-size: 278px;
  }
  .photo__item2 {
    grid-column: 1/2;
    background-image: url(/img/item2_320.jpg);
    background-size: 124px;
  }
  .photo__item3 {
    grid-column: 2/3;
    background-image: url(/img/item3_320.jpg);
    background-size: 124px;
  }
  .photo {
    margin-bottom: 50px;
  }
  .main__container {
    min-height: 1282px;
  }
  .about__text {
    grid-column: 1/3;
    max-width: 278px;
    min-height: 704px;
  }
  .about__title {
    grid-column: 1/3;
    font-size: 18px;
  }
  .about__descr {
    font-size: 14px;
    line-height: 25px;
  }
  .about__section {
    position: relative;
    top: -35px;
  }
  .subscribe {
    font-size: 18px;
    margin-bottom: 14px;
  }
  .subscribe-mail {
    width: 278px;
    padding: 12px 23px;
    font-size: 14px;
  }
  .about__list {
    grid-template-columns: 278px;
    grid-template-rows: 278px 40px 40px;
    grid-gap: 20px;
  }
  .about__btn {
    font-size: 14px;
  }
  .about__item1 {
    background-image: url(/img/about_us_photo_320.jpg);
    background-size: 278px 278px;
    background-repeat: no-repeat;
  }
  .about {
    margin-bottom: 50px;
  }
  .item {
    min-height: 300px;
  }
  .project-title {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .project-tag {
    font-size: 12px;
    padding: 4px 14px;
  }
  .project1__tag {
    left: 194px;
    max-width: 78px;
  }
  .project1-img {
    background-image: url(/img/gory_i_solnce_320.jpg);
    background-size: 278px 184px;
  }
  .project-text {
    margin-bottom: 10px;
  }
  .project2__tag {
    top: 4px;
    left: 193px;
    max-width: 80px;
  }
  .project2-img {
    background-image: url(/img/man_z_borodoy_320.jpg);
    background-size: 278px 184px;
  }
  .project3__tag {
    left: 190px;
    max-width: 84px;
  }
  .project3-img {
    position: relative;
    top: -16px;
    background-image: url(/img/chainiki_320.jpg);
    background-size: 278px 184px;
  }
  .project3__date {
    top: 95px;
  }
  .project-wrapper {
    max-width: 218px;
    top: 170px;
  }
  .project4 {
    position: relative;
    top: -40px;
    min-height: 422px;
  }
  .project4-img {
    background-image: url(/img/girl320.jpg);
    background-size: 278px 422px;
  }
  .project4__tag {
    left: 221px;
    top: 4px;
    max-width: 52px;
  }
  .project4__date {
    margin-bottom: 7px;
  }
  .project4__title {
    position: relative;
    top: 10px;
    margin-bottom: 17px;
  }
  .project4__descr {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 16px;
  }
  .project-btn {
    padding: 10px 19px;
    font-size: 14px;
  }
  .project6 {
    position: relative;
    top: -40px;
  }
  .project6__tag {
    top: 2px;
    left: 195px;
    padding: 4px 14px;
    font-size: 12px;
    max-width: 77px;
  }
  .project1__date {
    top: 115px;
  }
  .project7 {
    position: relative;
    top: -40px;
  }
  .project7-img {
    background-image: url(/img/project7_320.jpg);
    background-size: 278px 184px;
  }
  .project7__tag {
    top: 5px;
    left: 195px;
    padding: 4px 14px;
    font-size: 12px;
    max-width: 80px;
  }
  .project5 {
    position: relative;
    top: -40px;
  }
  .project5-img {
    background-image: url(/img/zabvenie320.jpg);
    max-width: 278px;
    min-height: 422px;
  }
  .project5__tag {
    top: 7px;
    left: 147px;
    font-size: 12px;
    padding: 3px 13px;
    max-width: 126px;
  }
  .project5__date {
    bottom: -4px;
    margin-bottom: 6px;
  }
  .project5__title {
    position: relative;
    top: 10px;
    margin-bottom: 20px;
  }
  .project5__descr {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 23px;
  }
  .container-mobile {
    padding: 0;
  }
  .contacts__item1 {
    background-image: url(/img/bigmap320.jpg);
    background-size: 320px 472px;
  }
  .contacts-heading {
    font-size: 18px;
    margin-bottom: 14px;
    padding-left: 21px;
  }
  .grid3 {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .contacts__cts {
    max-width: 576px;
    padding: 26px 34px 14px 20px;
    position: relative;
    top: 307px;
  }
  .close {
    top: -9px;
    left: 260px;
  }
  .map-point {
    top: -396px;
    left: 245px;
  }
  .contacts__title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .contacts__descr {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 13px;
  }
  .contacts {
    font-size: 14px;
    font-weight: 500;
  }
  .contacts-btn {
    font-size: 14px;
  }
  .contacts__form-title {
    font-size: 18px;
    margin-bottom: 7px;
  }
  .contacts__form-descr {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 16px;
  }
  .request-input {
    font-size: 14px;
    padding: 12px 23px;
    margin-bottom: 20px;
  }
  .contacts__form {
    padding: 0 21px;
  }
  .contacts-center {
    margin-bottom: 40px;
  }
  .footer-container {
    padding-top: 31px;
    min-height: 123px;
  }
  .footer__left {
    display: none;
  }
  .footer__box {
    justify-content: center;
  }
  .footer__cont320 {
    display: flex;
    background-color: #4A4A4A;
    margin: 0 auto;
    max-width: 320px;
    min-height: 62px;
    align-items: center;
    justify-content: center;
  }
  .footer__img {
    width: 112px;
    min-height: 18px;
  }
  .left-descr {
    font-size: 10px;
  }
  .footer__320 {
    flex-direction: column;
    align-items: center;
  }
  .footer__right {
    margin-bottom: 32px;
  }
}/*# sourceMappingURL=style.css.map */
